<div mat-dialog-content>
    <h2>{{datos.encabezado}}</h2>
    <mat-form-field style="width: 100%;">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="datos.festivo.nombre">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
        <mat-label>Día</mat-label>
        <input matInput [(ngModel)]="datos.festivo.dia">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
        <mat-label>Mes</mat-label>
        <input matInput [(ngModel)]="datos.festivo.mes">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
        <mat-label>Días de Pascua</mat-label>
        <input matInput [(ngModel)]="datos.festivo.diasPascua">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
        <mat-label>Tipo de Festivo</mat-label>
        <mat-select [(value)]="datos.festivo.tipo" [compareWith]="compararTiposFestivo">
            <mat-option *ngFor="let tipoFestivo of datos.tiposFestivo" [value]="tipoFestivo">{{tipoFestivo.tipo}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
        <mat-label>País</mat-label>
        <mat-select [(value)]="datos.festivo.pais" [compareWith]="compararPaises">
            <mat-option *ngFor="let pais of datos.paises" [value]="pais">{{pais.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos">Aceptar</button>
    <button mat-stroked-button color="primary" [mat-dialog-close]="null">Cancelar</button>
</div>