<div>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" (click)="navegarTipoFestivo()" >TipoFestivo</button>
    </div>
    <br>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" (click)="navegarFestivo()" >Festivo</button>
    </div>
    <br>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" (click)="navegarPais()" >Pais</button>
    </div>
    <br>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" (click)="navegarCalendario()" >Calendario</button>
    </div>
    <br>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" (click)="navegarTipo()" >Tipo</button>
    </div>
    <br>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" (click)="navegarVerificar()" >Verificar Festivo</button>
    </div>
    <br><br><br><br>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" (click)="navegarAutores()" >Autores</button>
    </div>
</div>