<div>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" >Pais</button>
    </div>
    <br>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" >Festivo</button>
    </div>
    <br>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" >Calendario</button>
    </div>
    <br><br><br><br>
    <div class="centrar-componente">
        <button mat-raised-button style="width: 300px;" (click)="navegarAutores()" >Autores</button>
    </div>
</div>