<div style="width: 80vw;">
    <button mat-raised-button (click)="navegarAtras()" >
        <mat-icon>arrow_back</mat-icon>
    </button>
    <br>
    <h1>Verificar Festivo</h1>
    <div class="five-column">
        <div class="column">
            <mat-form-field style="width: 90%;">
                <mat-label>País</mat-label>
                <mat-select [(value)]="paisElegido" [compareWith]="compararPaises">
                    <mat-option *ngFor="let pais of paises" [value]="pais">{{pais.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="column">
            <mat-form-field style="width: 90%;">
                <mat-label>Año</mat-label>
                <input type="number" matInput [(ngModel)]="anioElegido">
            </mat-form-field>
        </div>
        <div class="column">
            <mat-form-field style="width: 90%;">
                <mat-label>Mes</mat-label>
                <input type="number" max="12" min="1" matInput [(ngModel)]="mesElegido">
            </mat-form-field>
        </div>
        <div class="column">
            <mat-form-field style="width: 90%;">
                <mat-label>Día</mat-label>
                <input type="number" max="31" min="1" matInput [(ngModel)]="diaElegido">
            </mat-form-field>
        </div>
        <div class="column">
            <button mat-raised-button style="width: 150px;" (click)="verificar()" >Verificar</button>
        </div>
    </div>
    <br>
    <br>
    <h2 id="resultadoText" for="">{{resultado}}</h2>
</div>