.centrar{
    align-items: center; /* Centrar horizontalmente */
    display: flex; /* Utilizamos flexbox para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente con flexbox */
    height: 100vh; /* Ancho completo */
    background: linear-gradient(to right, rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0.5));
    animation-name: appear;
    animation-duration: 1s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.centrar-componente{
    align-items: center; /* Centrar horizontalmente */
    display: flex; /* Utilizamos flexbox para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente con flexbox */
}

mat-sidenav-container {
    height: calc(100vh);
}

.menu-boton {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #e8e8e8;
    margin: 10px 50px 10px 10px;
    transition: 0.3s;
}

.menu-boton:hover {
    color: rgb(41, 14, 66);
    width: 90%;
    margin: 10px 50px 10px 15px;
}

.top-menu {
    display: flex;
    justify-content: space-between
}