<div mat-dialog-content>
    <strong>Credenciales de Acceso</strong>
    <br>
    <mat-form-field style="width: 100%;">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="datos.usuario">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
        <mat-label>Clave</mat-label>
        <input type="password" matInput [(ngModel)]="datos.clave">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos">Ingresar</button>
    <button mat-stroked-button color="primary" [mat-dialog-close]="null">Cancelar</button>
</div>