/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import '../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/dark.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
    background: url('./shared/assets/fondo.jpg');
    background-size: cover;
}